
.projectsContainer {
    width: 100%;
    margin-top: 50px; 
}

.card {
    height: 340px;
    width: 100px;
    margin: 20px 10px 50px 10px; 
    border-color: #aaa8a8;
}

.card a{
    height: 100%;
}

.projectsContainer .card-title {
    font-weight: bolder;
    color: #aaa8a8; 
}

.projectsContainer .card-text {
    color: #aaa8a8;
}

.projectsContainer .btn {
    bottom: 5px; 
    background-color: black;
    border-color: rgb(43, 43, 43);
    color: #aaa8a8;
}

.projectsContainer .btn:hover {
    background-color: rgb(22, 22, 22);
    border-color: #aaa8a8;
}
